body {
    margin: 0px;
}
.gallery-item img {width: 100%;}
body.noscroll {overflow: hidden;}
a[target=gallery] {font-size: 16pt;}

body  {
    counter-reset: example;
}
a[target=gallery]::before {
    counter-increment: example;
    content: counter(example) ". ";
}
